@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
  &__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
  &__arrows {
    position: absolute;
    bottom: 30px;
    left: 210px;
    z-index: 3;
  }
  &__aside {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    border-right: 1px solid rgba(#fff, 0.25);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    position: absolute;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
    top: 0px;
    left: 0px;
    z-index: 4;
  }
  &__data {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;

    span {
      display: block;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1.4px;
      margin: 17px 0 20px;
    }
  }
  &__location {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 5px;
    padding-bottom: 20px;
    text-transform: capitalize;
  }
}
.menu {
  &__link {
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      padding-top: 6px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
  }
}

.header__slider {
  &-item {
    height: 100vh;
    background: url(../img/Background.jpg) no-repeat center;
    background-size: cover;
    position: relative;
  }
}
.slider-item_bg-2 {
  background: url(../img/bg2.jpg) no-repeat center;
}
.slider-item_bg-3 {
  background: url(../img/bg4.jpg) no-repeat center;
}
.slider-item_bg-4 {
  background: url(../img/bg31.png) no-repeat center;
}
.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;

  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
  }
  &-subtitle {
    margin-bottom: 5px;
  }
  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &-subtext {
    margin-bottom: 8px;
  }
}
.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;

  &__left {
    right: 125px;
  }
}
.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}
.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}
.line-animation {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

/*-------------surf-------------*/

.surf {
  background: url(../img/surf-bg.png) no-repeat 200px right;
  background-size: auto;
}
.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -80px;
}
.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
}

.surf-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__inner {
    min-height: 750px;
    background: rgba(#1c2121, 0.15);
    position: relative;
    &:hover {
      background: rgba(#1c2121, 0.1);
    }
    &:hover .surf-box__btn {
      display: block;
    }
  }
  &__inner-title {
    font-weight: 800;
    line-height: 36px;
    font-size: 40px;
    padding: 72px 0 0 40px;
    width: 140px;
  }
  &__inner-location {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;
    span {
      font-weight: 100;
    }
  }
  &__btn {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
  }
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../img/Ma_Dots.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  .slick-list {
    min-height: 635px;
  }
  .slick-current {
    .slider-dots__content {
      display: block;
      width: 285px;
      padding: 28px 32px 31px;
      background: rgba(#0f1010, 0.7);
      border-radius: 6px;
      position: absolute;
      bottom: 35px;
      transform: translateX(-50%);
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: -21px;
        left: 50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.slider-dots {
  position: relative;
  &__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  &__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
  }
  &__content-link {
    padding-top: 4px;
  }

  &__circle {
    width: 23px;
    height: 23px;
    background-color: $green;
    border-radius: 50%;
  }
  &__content {
    display: none;
  }
  &__content-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    position: relative;
    &::before {
      content: "";
      height: 1px;
      width: 80px;
      background-color: $green;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__content-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }
  &_one {
    top: 333px;
    left: 0;
  }
  &_two {
    top: 276px;
    left: -12px;
    .slider-dots__circle {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url(../img/minimap.png);
        width: 14px;
        height: 17px;
        background-size: cover;
        right: -12px;
        top: -20px;
      }
    }
  }
  &_three {
    top: 320px;
    left: 25px;
  }
  &_four {
    top: 487px;
    left: -34px;
  }
  &_five {
    top: 226px;
    left: -72px;
  }
  &_six {
    top: 546px;
    left: -109px;
  }
  &_seven {
    top: 381px;
    left: -88px;
  }
  &_eight {
    top: 505px;
    left: 39px;
  }
  &__content-item {
    text-align: center;
    img {
      margin: 0 auto;
      margin-bottom: 8px;
    }
  }
  &__content-name {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}
.slider-dots.slider-dots_one {
  .slider-dots__content {
    transform: translateX(0);
    &::before {
      left: 0;
    }
  }
}
.slider-dots.slider-dots_eight {
  .slider-dots__content {
    transform: translateX(-262px);
    &::before {
      right: 0;
      left: auto;
    }
  }
}
/*--------------------------------------------*/
.holder {
  background-image: url(../img/cocktail.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  &.sleep {
    background-image: url(../img/Frangipani.png);
  }
  .slider-arrows {
    top: 245px;
    opacity: 0.25;
  }
}
.holder-slider {
  &__head {
    background-position: top left;
    min-height: 780px;
    background-repeat: no-repeat;
  }
  &__btn {
    text-align: center;
  }
  &__btn-shop {
    text-align: left;
    padding-top: 64px;
  }
  &__descr {
    padding: 160px 0 0 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    margin-top: -230px;
    background-position: right center;
    background-size: contain;
    display: block;
  }
  &__info {
    padding: 100px 0 70px;
    display: flex;
    justify-content: space-around;
  }
  &__info-item {
    min-height: 200px;
    position: relative;
  }
  &__subtitle {
    text-align: right;
    padding-right: 77px;
    padding-top: 132px;
  }
  &__info-subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    transform: rotate(-90deg);
    position: absolute;
    left: -97px;
    width: 200px;
    top: 97px;
    height: 0;
    white-space: nowrap;
    text-align: right;
  }
  &__info-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding-left: 40px;
    position: relative;

    span {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 5.25px;
      opacity: 0.75;
      position: absolute;
      bottom: -30px;
      right: 0;
    }
  }
}
/*------------------------------*/
.summ {
  display: inline-block;
}
.shop {
  background-image: url(../img/Shop-Image.png);
  background-position: right center;
  background-repeat: no-repeat;
  .slider-arrows {
    opacity: 0.25;
  }
  &__slider-inner {
    display: flex;
    align-items: center;
    padding-bottom: 284px;
  }
  &__extras {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    flex-direction: column;
    &-inner {
      display: flex;
      justify-content: space-between;
      min-width: 300px;
      align-items: flex-end;
    }
    &-title {
      font-weight: 800;
      font-size: 28px;
      line-height: 40px;
      padding-bottom: 25px;
    }
    &-name {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      opacity: 0.5;
      text-align: center;
      font-weight: 400;
      padding: 36px 0 16px;
    }
    &-price {
      font-weight: 800;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
    }
    &-box {
      padding-right: 60px;
    }
  }
  &__slider-price {
    sup {
      font-weight: 800;
      font-size: 18px;
      line-height: 40px;
      position: relative;
      top: -18px;
    }
  }
  &__slider-content {
    display: flex;
    justify-content: center;
    flex: 4;
    .surfboard {
      padding-right: 167px;
    }
  }
}
.surfboard {
  position: relative;
  &-box {
    position: absolute;

    &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      position: relative;
      &.active {
        .row + .row {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
      .row {
        background-color: $green;
        position: absolute;
        width: 12px;
        height: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        & + .row {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    &__content {
      position: absolute;
      min-width: 360px;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      padding-left: 104px;
      top: -15px;
      left: 40px;
      display: none;
      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        opacity: 0.5;
        left: 0;
        top: 50%;
        background-color: #fff;
      }
    }
  }
  &__position_1 {
    left: 157px;
    top: 215px;
  }
  &__position_2 {
    left: -5px;
    top: 315px;
  }
  &__position_3 {
    left: 52px;
    bottom: 62px;
    .surfboard-box__content {
      padding-left: 0;
      padding-right: 104px;
      top: -15px;
      left: -415px;
      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        opacity: 0.5;
        right: 32px;
        left: auto;
        top: 50%;
        background-color: #fff;
      }
    }
  }
}
.surfboard-box__circle.active + .surfboard-box__content {
  display: block;
}
/*-------------footer-------------*/
.footer {
  text-align: center;
}
.footer__copy {
  padding: 27px 0 34px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  opacity: 0.5;
}
/*меню адаптива*/

.menu-btn {
  width: 40px;

  &__line {
    height: 3px;
    background-color: $green;
    margin: 5px;
  }
}

.slick-dots {
  display: none !important;
}
@import "media";
